/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import url('./modal.scss');
// Стили для файла с примером HTML-фрагмента
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2a2a2a;
}
.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}
img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

input {
  padding: 10px;
  font-size: 20px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-shadow: (0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  appearance: none;
  outline: none;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  list-style: none;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.gallery__image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__image:hover {
  transform: scale(1.03);
}
